@model  List<TBT_EMPRESA>
@{ ViewBag.title = "Listar";}
<h1>Página Listar Empresa devuelto por el controlador</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Código</td>
            <td>Nombres</td>
            <td>Correo</td>
            <td>Provincia</td>
            <td>Accion</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.id</td>
            <td>@item.nombres</td>
            <td>@item.correo</td>
            <td>@item.provincia</td>
            <td><a class="btn btn-primary" asp-controller="Home" asp-action="Details" asp-route-id="@item.id">Detalle</a></td>
        </tr>
        }
    </tbody>
</table>